* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --color1: #eceeed;
    --color2: rgb(75, 74, 74);
    --color3: rgba(192, 181, 166, 0.6);
    --color4: white;
    --color5: orange;
}

body {
    background-color: var(--color1);
    min-height: 100vh;
    margin: 0;
    position: relative;
}

main {
    padding-bottom: 75px;
}

h1, h2, h3, p {
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    border-bottom: solid 1px var(--color2);
    background-color: var(--color1);
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

header .logo {
    color: var(--color2);
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header nav ul {
    display: flex;
}

nav li {
    padding-left: 3.5rem;
    list-style-type: none;
    text-align: center;

}

li a {
    text-decoration: none;
    color: var(--color2);
    font-weight: 700;
}

.banner-desktop {
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
    color: var(--color1);
    border-bottom: solid 1px var(--color2);
    padding: 2rem;
    color: var(--color2);
}

.banner-mobile {
    display: none;
}

.headings {
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    background-color: var(--color1);
    color: var(--color2);
}

.about-us-desktop {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 0.5rem;
    align-items: center;
    padding: 2rem;
    background-color: var(--color3);
    border-radius: 15px;
}

.about-us-desktop h1,
.about-us-desktop p {
    text-shadow: 1px 1px 3px var(--color4);
    font-weight: 700;
    color: var(--color2);

}

.about-us-desktop button {
    appearance: none;
    -webkit-appearance: none;
    padding: 10px;
    border: none;
    background-color: var(--color5);
    color: var(--color2);
    font-weight: 600;
    border-radius: 5px;
}

.services-desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 4rem 5%;
    background-color: var(--color1);
    gap: 4rem 4rem;
}

.services-mobile {
    display: none;
}


.service {
    display: flex;
    background-color: var(--color4);
    padding: 1rem;
    border-radius: 15px;
}

.service-content {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-right: 1rem;
    color: var(--color2);

}

.equipment {
    background-color: var(--color2);
    color: var(--color1);
    text-align: center;
}

.equipment .equipment-header h3 {
    padding: 2rem 2rem;
}

.equipment-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 3rem;
}

.contact-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

#contact-form {
    display: flex;
    flex-direction: column;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 0.5rem;
    width: 50%;
    padding-bottom: 2rem;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 0.5rem;
}

.contacts img,
p {
    display: inline-block;
    vertical-align: middle;
}

.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    margin-top: 2rem;


}

.icon {
    height: 1.5rem;
    width: auto;
}

.form {
    width: 40%;;
}

.form-style {
    padding: 10px;
    border: 1px solid var(--color2);
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.text-area {
    resize: vertical;
}

button.form-style {
    appearance: none;
    -webkit-appearance: none;
    padding: 10px;
    border: none;
    background-color: var(--color5);
    color: var(--color2);
    font-weight: 600;
    border-radius: 5px;
    width: 100%;
}

footer {
    background-color: var(--color3);
    height: 75px;
    width: 100%;
    color: var(--color12);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}

@media only screen and (max-width: 550px) {
    .banner-desktop{
        display: none;
    }
    .banner-mobile {
        display: block;
    }
    .mobile-banner-image {
        height: 250px;
        width: 100%;
        background-image: url("../img/banner.jpg");
        background-size: cover;
        background-position: center;
    }
    .about-us-mobile {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        row-gap: 0.5rem;
        align-items: center;
        padding: 2rem;
        background-color: var(--color2);
        border-radius: 0px;
    }
    
    .about-us-mobile h1,
    .about-us-mobile p {
        text-shadow: none;
        font-weight: 700;
        color: var(--color1);
    
    }
    
    .about-us-mobile button {
        appearance: none;
        -webkit-appearance: none;
        padding: 10px;
        border: none;
        background-color: var(--color5);
        color: var(--color2);
        font-weight: 600;
        border-radius: 5px;
    }

    .services-desktop {
        display: none;
    }

    .services-mobile {
        display: block;

    }

    .service-content-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;
        padding: 0 2rem;
    }

    .text-box-mobile {
        background-color: var(--color3);
        padding: 0.5rem;
        text-shadow: 1px 1px 5px var(--color4);
        color: var(--color2);
        border-radius: 5px;

    }

    .service-content-1 {
        background-image: url("../img/service1.jpg");
        background-size: cover;
        background-position: center;
    }

    .service-content-2 {
        background-image: url("../img/service2.jpg");
        background-size: cover;
        background-position: center;
    }

    .service-content-3 {
        background-image: url("../img/service3.jpg");
        background-size: cover;
        background-position: center;
    }

    .service-content-4 {
        background-image: url("../img/service4.jpg");
        background-size: cover;
        background-position: center;
    }

    
}